<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Endpoint=sb://mangorestmcastelan.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=gkhYSRgvDLbvRYThUpUaeZNaaWdtsVz4K+ASbFejIGQ= "/>
  </appSettings>
</configuration>